body {
  background: #25282f;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

/* HEADER SECTION */
.header {
  height: 150px;
  background: #1a1c21;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0px;
  min-height: 70px;
}

.header__link {
  height: 25px;
  font-size: 32px;
  font-weight: 600;
  transition: color 0.3s ease;
  color: gray;
}

.header__link:hover {
  color: #f9c54e;
}
