<!DOCTYPE>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/fonts.css">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <!-- header -->
    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <a href="" class="header__link">LampShop</a>
          <a href="" class="header__link">Корзина</a>
          <a href="" class="header__link">Популярное</a>
        </nav>
      </div>
    </header>

    <!-- main -->
    <main class="main">
      <div class="container">

      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="container">

      </div>
    </footer>
  </body>
</html>
